.App {
  text-align: center;
}

.align-end {
  margin: 10px;
  padding-right: 20px;
  float: right;
  display: flex;
  align-items: center
}

.paragraph {
  margin-bottom: 100px;
}

.image {
  width: auto;
  max-height: 300px;
}